.menu,
.sub-menu {
    list-style: none;
    padding: 0;
    display: flex;
    overflow-x: auto;
    gap: var(--gap-small);
}

.menu-item a {
    text-decoration: none;
    display: block;
    padding: 0.4em 1em;
    border: 2px solid var(--color-button);
    border-radius: var(--radius-small);
    background-color: var(--color-button, #ddd);
    color: var(--color-button-text);
    text-align: center;
    white-space: nowrap;

    @media (hover:hover) {
        &:hover {
            filter: brightness(1.1);
        }
    }

    &:active {
        filter: brightness(0.9);
    }
}

.menu-item-has-children>a {
    border-bottom: 2px solid var(--color-button-text);
}

.sub-menu {
    display: none;
    position: absolute;
    opacity: 0;
    flex-direction: column;
    background-color: var(--color-bg);
    padding: 0.5rem;
    border-radius: 0 0 var(--radius-small) var(--radius-small);
    transition-behavior: allow-discrete;
    transition: all 200ms ease;
    transition: all 200ms ease allow-discrete;
    transition-property: opacity, display;

    .menu-item:hover & {
        display: flex;
        opacity: 1;
        transition-delay: 150ms;
    }
}

@starting-style {
    .menu-item:hover .sub-menu {
        opacity: 0;
        display: block;
    }
}